:root{
    --color-1: #7f553a;
    --color-2: #a58a64;
    --color-3: #ece0d5;
    --color-4: #646d4a;
    --color-5: #414833;
    
    --color-text-light: #fbfff4;
    --color-text-dark: #190d0d;
}

* {
    margin: 0px;
}
body {
    width:100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}